
/* Sài chung */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "raleway", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

#main {
    background-color: #f1f1f1;
}

.clear {
    
    clear: both;
}

.text_white {
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row_16 {
    margin-left: -16px;
    margin-right: -16px;
}

.col_half {
    float: left;
    width: 50%;
    padding-right: 8px;
    padding-left: 8px;
}

.col_third {
    float: left;
    width: 33.3333333%;
    padding-left: 8px;
    padding-right: 8px;
}
/* End sài chung */

/* Header */

/* Tạo thanh header chiều cao,  */
#main #header {
    width: 100%;
    height: 43px;
    background-color:#fff;
    display: inline-block;
    font-size: 18px;
}


/* Màu nền phần logo bên trái thanh header */
/* Nhớ tìm cách gọn hơn để khai báo */
#nav .nav_logo {
    background-color: #f44336;
}

#nav .nav_logo a {
    
    color: #fff;
}

.nav_logo a i {
    padding-right: 16px;
}

#header #book_btn li,
#header #nav li {
    float: left;
    padding: 0 16px;
}

#header #book_btn li:hover,
#header ul li:hover {
    background-color: #ccc;
    cursor: pointer;
}

#header #book_btn li a:hover,
#header #nav li a:hover {
    cursor: pointer;
    color: #000 ;
}

#header #book_btn li a,
#nav  a {
    color: #000000;
    line-height: 43px;
}

#header #book_btn li {
    float: right;
    line-height: 43px;
    background-color: #f1f1f1;
} 
/* End header */



/* Slider */

.slider {
    position: relative;
    width: 1500px;
    margin: 0 auto;
}



.slider_img_hotel {
    display: inline-block;
}



.slider img {
    width: 100%;
    min-width: 1000px;
    max-width: 1500px;
}

.slider_form {
    padding: 8px 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form_header {
    background-color: #f44336;
    color: #fff;
    width: 575px;
    font-size: 30px;
    display: flex;
    height: 66px;
    align-items: center;
}

.form_header p {
    padding: 0 16px;
}

.form_header p i {
    margin-right: 16px;
}

.form_body {
    background-color: #fff;
}

.form_body_center {
    padding: 16px;
    text-align: left;
}



.form_body_checkInOut,
.form_body_quantity {
    margin-bottom: 24px;
}



.form_body input {
    box-sizing: border-box;
    padding: 8px;
    width: 263px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;

}


.form_body .form_Adults,
.form_body .form_checkIn {
    float: left;
    margin-right: 16px;
}

.form_body_center i {
    margin-right: 4px;
}

.form_body_center .form_btn button {
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    background-color: #616161;
    color: #fff;
}

.form_body_center .form_btn button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.form_body_center .form_btn i {
    margin-right: 16px;
}
/* End header */


/* content_rooms */
.content_rooms {
    width: 1500px;
    margin:0 auto;
}

.rooms_title h2 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 400;
}

.rooms_title p {
    font-size: 15px;
    margin: 15px 0;
    font-weight: 400;
}

.rooms_form .row_16 i {
    margin-right: 4px;
}

.rooms_form .row_16 button {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #000;
    font-size: 15px;
}

.rooms_form .row_16 input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
}

.selecter_rooms {
    width: 1500px;
    margin: 0 auto;
    padding: 16px 0;
}

.selecter_rooms img {
    width: 100%;
}

.selecter_rooms .item_content {
    background-color: #fff;
    padding: 16px;
}

.selecter_rooms .item_content h2 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 15px;
}

.selecter_rooms .item_content p {
    font-size: 15px;
    padding-bottom: 18px;
    line-height: 1.5;
}

.item_content .price {
    opacity: 0.60;
}

.item_content p i {
    font-size: 18px;
}



.item_content button  {
    width: 100%;
    background-color:#000;
    height: 38px;
    box-sizing: border-box;
    border: none;
    color: #fff;
    font-size: 17px;
}

.item_content button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
/* End content rooms */


/* about */
.about {
    width: 1500px;
    margin: 16px auto;
}

.about .col_third h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
}

.about .col_third h6 {
    font-size: 16px;
    padding: 10px 0;
    font-weight: 300;
}

.about .col_third p {
    padding: 10px 0;
}

.about_map {
    width: 66.6666666%;
    float: left;
    padding-left: 8px;
    padding-right: 9px;
}

.about_map img {
    width: 100%;
}

/* about local */
.about_local {
    width: 1500px;
    margin: 32px auto;
    text-align: center;
    font-size: 18px;
}

.about_local .col_third i {
    color: #f44336;
    margin-right: 4px;
}

.panel_note {
    width: 1510px;
    height: 116px;
    border-left: 6px solid #ccc;
    margin: 0 auto;
    background-color: #f44336;
}

.panel_note p {
    font-size: 16px;
    color: #fff;
    line-height: 116px;
    margin-left: 16px;
}

.panel_note i {
    padding: 8px 16px;
    background-color: #ff5722;
    margin-right: 16px;
}

.our_hotel {
    width: 1500px;
    margin: 32px auto;
}

.our_hotel h2 {
    font-weight: 400;
    margin: 10px 0;
}

.our_hotel p {
    margin: 10px 0;
}

.our_hotel_img {
    width: 1500px;
    margin: 0 auto;
}

.our_hotel_img img {
    width: 100%;
}

.our_hotel_img .col_half {
    position: relative;
    padding-bottom: 16px;
}

.our_hotel_img .col_half p {
    position: absolute;
    bottom: 24px;
    left: 8px;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.form_info {
    width: 1532px;
    margin: 32px auto;
    background-color: #000;
    opacity: 0.6;
    color: #fff;
}

.form_info:hover {
    opacity: 1;
    
}

.form_info_content {
    padding: 32px 16px;
    margin: 32px 0;
}

.form_info_content h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 15px 0;
}

.form_info_content p {
    margin: 20px 0;
}

.form_info_content h5 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
}

.form_info_content h5 {
    padding-bottom: 2px;
}

.form_info_content input {
    width: 100%;
    padding: 11px;
    font-size: 15px;
    border: 1px solid #ccc
}

.form_info_content button {
    box-sizing: border-box;
    height: 38px;
    width: 101px;
    background-color: #f44336;
    
    margin-top: 16px;
    border: none;
}

.form_info_content button a:hover,
.form_info_content button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.form_info_content button {
    font-size: 15px;
    color: #fff;
}


.contact {
    width: 1500px;
    margin: 32px auto;
}

.contact_content h2 {
    font-size: 30px;
    font-weight: 400;
    
    padding: 10px 0;
}

.contact_content h5 {
    font-weight: 400;
    font-size: 15px;
    padding: 15px 0;
}

.contact_content p {
    font-size: 15px;
    padding: 4px 0;
}

.contact_content p i {
    color: #f44336;
    margin-right: 16px;
    box-sizing: border-box;
    width: 15px;
}

.contact_content input {
    padding: 18px 8px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    margin: 7px 0;
}

.contact_content button {
    box-sizing: border-box;
    height: 46px;
    width: 162px;
    border: none;
    background-color: #000;
    color: #fff;
}

.contact_content button a:hover,
.contact_content button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.footer p a,
.footer i,
.contact_content button a {
    color: #fff;
}

.footer {
    background-color: #000;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 32px 0;
}

.footer h3 {
    font-weight: 400;
    padding: 16px;
    font-size: 18px;
}

.footer div {
    padding: 15px;
}

.footer div i {
    font-size: 20px;
}

.footer div i:hover {
    opacity: 0.6;
    
}

.footer p {
    padding: 20px 0;
    color: #fff;
}

.footer p a {
    text-decoration: underline;
}

.footer p a:hover {
    color: #4CAF50;
    cursor: pointer;
}

